<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RigranFoodsDB" 
			 connectionString="server=tcp:rigranfoods-server.database.windows.net,1433; initial Catalog=Your_DB; User ID=Your_User_ID; Password=Your_Password; Encrypt=True; TrustServerCertificate=False; Connection Timeout=30;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>